/* .top-div{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border: solid green 5px;
    box-sizing: border-box;
}
.middle-div{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border: chartreuse dotted 5px;
}
.bottom-div{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: double pink 5px;
} */

.item{
    width: 200px;
    height: 200px;
}

.top-div{
   background-color: yellow;
}
.middle-div{
   background-color: red;
}
.bottom-div{
   background-color: blue;
}