/* body{
    color:red;
    background-color: rgb(176, 176, 206);
} */

h1{
    color: red;
    background-color: black;
}

h2{
    color: chartreuse;
}
h3{
    color: coral;
    background-color: black;
}
p{
    color: blue;
}